<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm"
      class="form-field-full">
  <div fxLayout="row wrap" class="matero-row" *ngIf="account$ | async as account">
    <div fxFlex="50" fxFlex.lt-sm="50" class="matero-col">
      <mat-card>
        <mat-card-title>Change Password : {{account.login}} </mat-card-title>
        <mat-error *ngIf="error">
          <strong>An error has occurred!</strong> The password could not be changed.
        </mat-error>

        <div fxLayout="row wrap" fxLayoutGap="8px grid">
          <div fxFlex="100" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Current password</mat-label>
              <input matInput placeholder="Current password" name="currentPassword"
                     [(ngModel)]="currentPassword" type="password"
                     minlength="2" maxlength="150" required />
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>New password</mat-label>
              <input matInput placeholder="New password" name="newPassword"
                     [(ngModel)]="newPassword" type="password"
                     minlength="2" maxlength="150" required />
            </mat-form-field>
            <password-strength-bar [passwordToCheck]="newPassword"></password-strength-bar>
          </div>

          <div fxFlex="100" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>New password confirmation</mat-label>
              <input matInput placeholder="New password confirmation" name="confirmPassword"
                     [(ngModel)]="confirmPassword" type="password"
                     minlength="2" maxlength="150" required />
            </mat-form-field>
          </div>
          <mat-error
                     *ngIf="newPassword!=null && confirmPassword!=null && newPassword!=confirmPassword">
            The password and its confirmation do not match!
          </mat-error>
        </div>
        <button mat-raised-button color="primary" class="m-t-8" type="submit"
                [disabled]="editForm.form.invalid || newPassword!=confirmPassword || isSaving ">
          Save</button>&nbsp;&nbsp;
        <button mat-raised-button color="warn" type="button" class="m-t-8" (click)="previousState()"
                [disabled]="isSaving"> Cancel
        </button>
      </mat-card>
    </div>
  </div>


</form>








<!-- <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm" >

  <div fxLayout="row wrap" class="matero-row" *ngIf="account$ | async as account">
    <div fxFlex="100.67" fxFlex.lt-sm="100" class="matero-col">
      <mat-card>
        <mat-card-title>Change Password {{account.login}}</mat-card-title>
        <div fxLayout="row wrap" fxLayoutGap="8px grid">
          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Current password</mat-label>
              <input matInput type="password" id="currentPassword"
                     name="currentPassword"
                     placeholder="Current password"
                     formControlName="currentPassword">

              <div
                   *ngIf="passwordForm.get('currentPassword')!.invalid && (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="passwordForm.get('currentPassword')?.errors?.required">
                  Your password is required.
                </small>
              </div>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>New password</mat-label>
              <input matInput type="password" id="newPassword"
                     name="newPassword"
                     placeholder="New password"
                     formControlName="newPassword">

              <div
                   *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="passwordForm.get('newPassword')?.errors?.required">
                  Your password is required.
                </small>

                <small class="form-text text-danger"
                       *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                  Your password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger"
                       *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                  Your password cannot be longer than 50 characters.
                </small>
              </div>
            </mat-form-field>
          </div>
          <password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value">
          </password-strength-bar>
          <div fxFlex="100" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>New password confirmation</mat-label>
              <input matInput type="password" id="confirmPassword"
                     name="confirmPassword"
                     placeholder="Confirm the new password"
                     formControlName="confirmPassword">

              <div
                   *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                  Your confirmation password is required.
                </small>

                <small class="form-text text-danger"
                       *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                  Your confirmation password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger"
                       *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div>
            </mat-form-field>
          </div>
          <mat-error
                     *ngIf="detail.passwordHash!=null && detail.conpassword!=null && detail.passwordHash!=detail.conpassword">
            The password and its confirmation do not match!
          </mat-error>
        </div>
      </mat-card>
    </div>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid"
          class="btn btn-primary">Save</button>&nbsp;&nbsp;
  <button mat-raised-button color="warn" type="button" class="m-t-8" (click)="previousState()"
          [disabled]="isSaving"> Cancel
  </button>
</form> -->
