<div class="matero-container-wrap"
     [ngClass]="{
        'matero-sidenav-collapsed': options.sidenavCollapsed && options.navPos !== 'top',
        'matero-navbar-side': options.navPos === 'side',
        'matero-navbar-top': options.navPos === 'top',
        'matero-header-above': options.headerPos === 'above',
        'matero-header-fixed': options.headerPos === 'fixed',
        'matero-header-white': options.theme === 'light'
      }"
     [dir]="options.dir">
  <ng-progress></ng-progress>

  <!-- Header Above -->
  <app-header *ngIf="true" [showToggle]="false"
              [showBranding]="true">
  </app-header>

  <div class="matero-content">
    <router-outlet></router-outlet>
  </div>


  <!-- Demo purposes only -->
  <!-- <app-customizer (optionsChange)="receiveOptions($event)"></app-customizer> -->
  <footer class="app-footer">

    <span><a href="http://techvishwaguru.com/">Vishwaguru Infotech</a> &copy; 2021.</span>
    <span class="ml-auto">Powered by <a href="https://www.icicibank.com/">ICICI Bank</a></span>

  </footer>
</div>
